body {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
h1 {
    color: darkblue;
}

h2 {
    border-bottom: 2px solid lightgray;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
